[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boilerpipeR"]
	path = boilerpipeR
	url = https://github.com/mannau/boilerpiper
